Repository terraforming-mars/terraforming-mars, pull requests merged in 2023-04, with the labels that each got.

#5555 Update VanAllen viz.
  src/client/components/card/CardRenderItemComponent.vue
  src/common/cards/render/CardRenderItemType.ts
  src/server/cards/ceos/VanAllen.ts
  src/server/cards/render/CardRenderer.ts
Labels: ceo

#5556 Serialize CEO card option opgActionIsActive
  src/server/SerializedCard.ts
  src/server/cards/CardSerialization.ts
Labels: ceo

#5552 Ceo van allen fix#5548
  src/server/Player.ts
  tests/cards/ceo/VanAllen.spec.ts
Labels: bug, ceo

#5567 Remove Errant Backtick
  src/client/components/turmoil/Agendas.vue
Labels: ui

#5568 Luna Project Office not keeping 5 cards
  src/server/Player.ts
Labels: bug

#5565 CEO Balance Update
  src/server/CeoExtension.ts
  src/server/cards/ceos/Clarke.ts
  src/server/cards/ceos/Duncan.ts
  src/server/cards/ceos/Faraday.ts
  src/server/cards/ceos/Greta.ts
  src/server/cards/ceos/Naomi.ts
  src/server/cards/ceos/Quill.ts
  src/server/cards/ceos/Will.ts
  src/server/cards/ceos/Zan.ts
  src/server/colonies/Colony.ts
  tests/cards/ceo/Clarke.spec.ts
  tests/cards/ceo/Duncan.spec.ts
  tests/cards/ceo/Faraday.spec.ts
  tests/cards/ceo/Greta.spec.ts
  tests/cards/ceo/Naomi.spec.ts
  tests/cards/ceo/Quill.spec.ts
  tests/cards/ceo/Will.spec.ts
  tests/cards/ceo/Zan.spec.ts
Labels: ceo

#5462 CEO Gaia
  assets/tiles/adjacency_bonus.png
  src/client/components/card/CardRenderItemComponent.vue
  src/common/cards/render/CardRenderItemType.ts
  src/server/ares/AresHandler.ts
  src/server/cards/ceos/CeoCardManifest.ts
  src/server/cards/ceos/Gaia.ts
  src/server/cards/render/CardRenderer.ts
  src/styles/cards_v2.less
  tests/cards/ceo/Gaia.spec.ts
Labels: ceo

#5570 CEO - Xu
  src/common/cards/CardName.ts
  src/server/cards/ceos/CeoCardManifest.ts
  src/server/cards/ceos/Xu.ts
  tests/cards/ceo/Xu.spec.ts
Labels: ceo

#5560 CEO - Shara
  src/client/components/card/CardRenderItemComponent.vue
  src/common/cards/CardName.ts
  src/common/cards/render/Types.ts
  src/server/cards/Options.ts
  src/server/cards/ceos/CeoCardManifest.ts
  src/server/cards/ceos/Shara.ts
  src/server/cards/render/CardRenderItem.ts
  tests/cards/ceo/Shara.spec.ts
Labels: ceo

#5612 Add CEO icon to game details
  src/client/components/GameSetupDetail.vue
Labels: ui, ceo

#5605 CEO Prelude : Co Leadership
  src/common/cards/CardName.ts
  src/server/CeoExtension.ts
  src/server/cards/ceos/CeoCardManifest.ts
  src/server/cards/ceos/CoLeadership.ts
  tests/cards/ceo/CoLeadership.spec.ts
Labels: ceo

#5617 CEO: Add Discards where necessary
  src/server/cards/ceos/CoLeadership.ts
  src/server/cards/ceos/Lowell.ts
  src/server/inputs/SelectInitialCards.ts
Labels: ceo
