Repository terraforming-mars/terraforming-mars, pull requests merged in 2023-02, with the labels that each got.

#5276 Restart turn
  src/client/components/WaitingFor.vue
  src/common/app/paths.ts
  src/common/models/GameModel.ts
  src/common/models/PlayerInputModel.ts
  src/server/Game.ts
  src/server/Player.ts
  src/server/deferredActions/DrawCards.ts
  src/server/models/ServerModel.ts
  src/server/requestProcessor.ts
  src/server/routes/Reset.ts
  src/styles/waiting_for.less
  tests/Game.spec.ts
  tests/client/components/PlayerInputFactory.spec.ts
  tests/client/components/ShiftAresGlobalParameters.spec.ts
  tests/deferredActions/DeferredActionsQueue.spec.ts
Labels: rfc

#5346 CEO - Init Faraday
  src/common/cards/render/AltSecondaryTag.ts
  src/server/cards/ceos/CeoCardManifest.ts
  src/server/cards/ceos/Faraday.ts
  src/styles/cards_v2.less
  tests/cards/ceo/Faraday.spec.ts
Labels: waiting-on-author

#5385 CEO Bugfix :: Increase default drawn CEOs from 2 to 3 to match Community
  src/server/Game.ts
Labels: bug, ceo

#5378 CEO : Rename Musk tests so they actually run
  src/server/cards/ceos/Musk.ts
  tests/cards/ceo/Musk.spec.ts
Labels: bug, ceo

#5393 Add 'ares' to list of expansions for card compatibility
  src/server/GameCards.ts
Labels: ceo

#5396 CEO Jansson
  src/server/cards/ceos/CeoCardManifest.ts
  src/server/cards/ceos/Jansson.ts
  tests/cards/ceo/Jansson.spec.ts
Labels: ceo

#5399 CEO CreateGameForm :: select starting card count
  src/client/components/create/CreateGameForm.vue
  src/common/game/NewGameConfig.ts
  src/server/Game.ts
  src/server/GameOptions.ts
  src/server/routes/Game.ts
Labels: ui, ceo

#5395 init CEO Ingrid
  src/server/cards/ceos/CeoCardManifest.ts
  src/server/cards/ceos/Ingrid.ts
  tests/cards/ceo/Ingrid.spec.ts
Labels: ceo

#5408 Van Allen should claim for free
  src/server/Player.ts
  tests/cards/ceo/VanAllen.spec.ts
Labels: bug, ceo

#5407 getProjectCardByName includes ceoCards
  src/server/CardFinder.ts
  tests/CardFinder.spec.ts
Labels: bug, ceo

#5401 CEO Gordon
  src/server/boards/Board.ts
  src/server/cards/ceos/CeoCardManifest.ts
  src/server/cards/ceos/Gordon.ts
  tests/cards/ceo/Gordon.spec.ts
Labels: ceo

#5425 CEO Oscar
  src/server/cards/ceos/CeoCardManifest.ts
  src/server/cards/ceos/Oscar.ts
  tests/cards/ceo/Oscar.spec.ts
Labels: ceo

#5421 CEO Petra
  src/server/cards/ceos/CeoCardManifest.ts
  src/server/cards/ceos/Petra.ts
  tests/cards/ceo/Petra.spec.ts
Labels: ceo

#5436 Ingrid bugfixes for #5434
  src/server/cards/ceos/Ingrid.ts
  tests/cards/ceo/Ingrid.spec.ts
Labels: bug, ceo
